In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [2]:
data_train = pd.read_csv("fraudTrain.csv")
data_test = pd.read_csv("fraudTest.csv")

In [3]:
data_train.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
data_train.shape

(1296675, 23)

In [5]:
data_train.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [6]:
data_test

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [7]:
data_test.shape

(555719, 23)

In [8]:
data_train["is_fraud"].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

In [9]:
data_test["is_fraud"].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [10]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [11]:
data_train.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [12]:
data_train.nunique()

Unnamed: 0               1296675
trans_date_trans_time    1274791
cc_num                       983
merchant                     693
category                      14
amt                        52928
first                        352
last                         481
gender                         2
street                       983
city                         894
state                         51
zip                          970
lat                          968
long                         969
city_pop                     879
job                          494
dob                          968
trans_num                1296675
unix_time                1274823
merch_lat                1247805
merch_long               1275745
is_fraud                       2
dtype: int64

In [13]:
data_train.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [14]:
data_test.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [15]:
data_train.drop(columns=['Unnamed: 0','trans_num'],inplace = True)
data_train

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,Hatch,...,84735,37.7175,-112.4777,258,Geoscientist,1961-11-24,1371816728,36.841266,-111.690765,0
1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,Tuscarora,...,21790,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,1371816739,38.906881,-78.246528,0
1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,...,88325,32.9396,-105.8189,899,Naval architect,1967-08-30,1371816752,33.619513,-105.130529,0
1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,Manderson,...,57756,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,1371816816,42.788940,-103.241160,0
1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,Sula,...,59871,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,1371816817,46.565983,-114.186110,0

In [16]:
data_test.drop(columns=['Unnamed: 0','trans_num'],inplace = True)
data_test

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,zip,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,...,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,1371816865,33.986391,-81.200714,0
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,...,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,1371816873,39.450498,-109.960431,0
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,...,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,1371816893,40.495810,-74.196111,0
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,...,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,1371816915,28.812398,-80.883061,0
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,...,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,Luray,...,63453,40.4931,-91.8912,519,Town planner,1966-02-13,1388534347,39.946837,-91.333331,0
555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,...,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,1388534349,29.661049,-96.186633,0
555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,...,99323,46.1966,-118.9017,3684,Musician,1981-11-29,1388534355,46.658340,-119.715054,0
555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,Mesa,...,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,1388534364,44.470525,-117.080888,0
555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,...,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,1388534374,36.210097,-97.036372,0

In [17]:
data_train['trans_date_trans_time'] = pd.to_datetime(data_train['trans_date_trans_time'])
data_train['dob'] = pd.to_datetime(data_train['dob'])

In [18]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  datetime64[ns]
 1   cc_num                 1296675 non-null  int64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   first                  1296675 non-null  object
 6   last                   1296675 non-null  object
 7   gender                 1296675 non-null  object
 8   street                 1296675 non-null  object
 9   city                   1296675 non-null  object
 10  state                  1296675 non-null  object
 11  zip                    1296675 non-null  int64
 12  lat                    1296675 non-null  float64
 13  long                   1296675 non-null  float64
 14  city_pop               1296675 non-null  int64
 15  job                    1296675 non-null  object
 16  dob                    1296675 non-null  datetime64[ns]
 17  unix_time              1296675 non-null  int64
 18  merch_lat              1296675 non-null  float64
 19  merch_long             1296675 non-null  float64
 20  is_fraud               1296675 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(5), object(9)
memory usage: 207.7+ MB

In [19]:
data_test['trans_date_trans_time'] = pd.to_datetime(data_test['trans_date_trans_time'])

data_test['dob'] = pd.to_datetime(data_test['dob'])

In [20]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  datetime64[ns]
 1   cc_num                 555719 non-null  int64
 2   merchant               555719 non-null  object
 3   category               555719 non-null  object
 4   amt                    555719 non-null  float64
 5   first                  555719 non-null  object
 6   last                   555719 non-null  object
 7   gender                 555719 non-null  object
 8   street                 555719 non-null  object
 9   city                   555719 non-null  object
 10  state                  555719 non-null  object
 11  zip                    555719 non-null  int64
 12  lat                    555719 non-null  float64
 13  long                   555719 non-null  float64
 14  city_pop               555719 non-null  int64
 15  job                    555719 non-null  object
 16  dob                    555719 non-null  datetime64[ns]
 17  unix_time              555719 non-null  int64
 18  merch_lat              555719 non-null  float64
 19  merch_long             555719 non-null  float64
 20  is_fraud               555719 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(5), object(9)
memory usage: 89.0+ MB

In [21]:
data_train['age'] = (data_train['trans_date_trans_time']-data_train['dob']) / (np.timedelta64(1,'D')*365)

data_train

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud,age
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,1325376018,36.011293,-82.048315,0,30.835617
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1325376044,49.159047,-118.186462,0,40.558906
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,1325376051,43.150704,-112.154481,0,56.989043
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,1325376076,47.034331,-112.561071,0,52.005482
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,1325376186,38.674999,-78.632459,0,32.786307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,Hatch,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,1371816728,36.841266,-111.690765,0,58.615092
1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,Tuscarora,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,1371816739,38.906881,-78.246528,0,40.557558
1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,...,32.9396,-105.8189,899,Naval architect,1967-08-30,1371816752,33.619513,-105.130529,0,52.847969
1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,Manderson,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,1371816816,42.788940,-103.241160,0,39.869889
1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,Sula,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,1371816817,46.565983,-114.186110,0,24.867149

In [22]:
data_test['age'] = (data_test['trans_date_trans_time']-data_test['dob']) / (np.timedelta64(1,'D')*365)

data_test.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud,age
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,1371816865,33.986391,-81.200714,0,52.294548
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,1371816873,39.450498,-109.960431,0,30.447973
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,1371816893,40.495810,-74.196111,0,49.702768
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,...,28.5697,-80.8191,54767,Set designer,1987-07-25,1371816915,28.812398,-80.883061,0,32.932906
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,1371816917,44.959148,-85.884734,0,65.006878

In [23]:
data_train.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud,age
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,1325376018,36.011293,-82.048315,0,30.835617
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1325376044,49.159047,-118.186462,0,40.558906
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,1325376051,43.150704,-112.154481,0,56.989043
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,1325376076,47.034331,-112.561071,0,52.005482
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,1325376186,38.674999,-78.632459,0,32.786307

In [24]:
y_train = data_train['is_fraud']
y_test = data_test['is_fraud']

data_train.drop(columns=['dob','is_fraud'],inplace=True)
data_test.drop(columns = ['dob','is_fraud'],inplace=True)

In [25]:
data_train.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,unix_time,merch_lat,merch_long,age
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1325376018,36.011293,-82.048315,30.835617
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1325376044,49.159047,-118.186462,40.558906
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1325376051,43.150704,-112.154481,56.989043
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1325376076,47.034331,-112.561071,52.005482
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1325376186,38.674999,-78.632459,32.786307

In [26]:
print(y_train.head())
print(y_train.shape)
print(y_test.head())
print(y_test.shape)

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64
(1296675,)
0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64
(555719,)

In [27]:
data_train['trans_year'] = data_train['trans_date_trans_time'].dt.year
data_train['trans_month'] = data_train['trans_date_trans_time'].dt.month
data_train['trans_day'] = data_train['trans_date_trans_time'].dt.day
data_train['trans_hour'] = data_train['trans_date_trans_time'].dt.hour
data_train['trans_minute'] = data_train['trans_date_trans_time'].dt.minute
data_train.drop(columns=['trans_date_trans_time'], inplace=True)

In [28]:
data_test['trans_year'] = data_test['trans_date_trans_time'].dt.year
data_test['trans_month'] = data_test['trans_date_trans_time'].dt.month
data_test['trans_day'] = data_test['trans_date_trans_time'].dt.day
data_test['trans_hour'] = data_test['trans_date_trans_time'].dt.hour
data_test['trans_minute'] = data_test['trans_date_trans_time'].dt.minute
data_test.drop(columns=['trans_date_trans_time'], inplace=True)

In [29]:
data_train_gender = pd.get_dummies(data_train['gender'])
data_train_gender

             F      M
0         True  False
1         True  False
2        False   True
3        False   True
4        False   True
...        ...    ...
1296670  False   True
1296671  False   True
1296672  False   True
1296673  False   True
1296674  False   True

[1296675 rows x 2 columns]

In [30]:
data_test_gender = pd.get_dummies(data_test['gender'])
data_test_gender

            F      M
0       False   True
1        True  False
2        True  False
3       False   True
4       False   True
...       ...    ...
555714  False   True
555715  False   True
555716   True  False
555717  False   True
555718  False   True

[555719 rows x 2 columns]

In [31]:
data_train = pd.concat([data_train, data_train_gender], axis=1)

data_train.drop(columns=['gender'], inplace=True)

In [32]:
data_test = pd.concat([data_test, data_test_gender], axis=1)

data_test.drop(columns=['gender'], inplace=True)

In [33]:
data_train

,cc_num,merchant,category,amt,first,last,street,city,state,zip,...,merch_lat,merch_long,age,trans_year,trans_month,trans_day,trans_hour,trans_minute,F,M
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,561 Perry Cove,Moravian Falls,NC,28654,...,36.011293,-82.048315,30.835617,2019,1,1,0,0,True,False
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,99160,...,49.159047,-118.186462,40.558906,2019,1,1,0,0,True,False
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,594 White Dale Suite 530,Malad City,ID,83252,...,43.150704,-112.154481,56.989043,2019,1,1,0,0,False,True
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,9443 Cynthia Court Apt. 038,Boulder,MT,59632,...,47.034331,-112.561071,52.005482,2019,1,1,0,1,False,True
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,408 Bradley Rest,Doe Hill,VA,24433,...,38.674999,-78.632459,32.786307,2019,1,1,0,3,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,162 Jessica Row Apt. 072,Hatch,UT,84735,...,36.841266,-111.690765,58.615092,2020,6,21,12,12,False,True
1296671,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,8617 Holmes Terrace Suite 651,Tuscarora,MD,21790,...,38.906881,-78.246528,40.557558,2020,6,21,12,12,False,True
1296672,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,1632 Cohen Drive Suite 639,High Rolls Mountain Park,NM,88325,...,33.619513,-105.130529,52.847969,2020,6,21,12,12,False,True
1296673,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,42933 Ryan Underpass,Manderson,SD,57756,...,42.788940,-103.241160,39.869889,2020,6,21,12,13,False,True
1296674,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,135 Joseph Mountains,Sula,MT,59871,...,46.565983,-114.186110,24.867149,2020,6,21,12,13,False,True

In [34]:
data_test

,cc_num,merchant,category,amt,first,last,street,city,state,zip,...,merch_lat,merch_long,age,trans_year,trans_month,trans_day,trans_hour,trans_minute,F,M
0,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,351 Darlene Green,Columbia,SC,29209,...,33.986391,-81.200714,52.294548,2020,6,21,12,14,False,True
1,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,3638 Marsh Union,Altonah,UT,84002,...,39.450498,-109.960431,30.447973,2020,6,21,12,14,True,False
2,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,9333 Valentine Point,Bellmore,NY,11710,...,40.495810,-74.196111,49.702768,2020,6,21,12,14,True,False
3,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,32941 Krystal Mill Apt. 552,Titusville,FL,32780,...,28.812398,-80.883061,32.932906,2020,6,21,12,15,False,True
4,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,5783 Evan Roads Apt. 465,Falmouth,MI,49632,...,44.959148,-85.884734,65.006878,2020,6,21,12,15,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,558 Michael Estates,Luray,MO,63453,...,39.946837,-91.333331,54.920546,2020,12,31,23,59,False,True
555715,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,77566,...,29.661049,-96.186633,21.030135,2020,12,31,23,59,False,True
555716,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,99323,...,46.658340,-119.715054,39.117807,2020,12,31,23,59,True,False
555717,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,7020 Doyle Stream Apt. 951,Mesa,ID,83643,...,44.470525,-117.080888,55.084930,2020,12,31,23,59,False,True
555718,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,73034,...,36.210097,-97.036372,27.665753,2020,12,31,23,59,False,True

In [35]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

categorical_cols = ['merchant', 'category', 'first', 'last', 'street', 'city', 'state', 'zip', 'F', 'M','job']

label_encoder = LabelEncoder()

for col in categorical_cols:
    data_train[col] = label_encoder.fit_transform(data_train[col])

scaler = StandardScaler()
numerical_cols = ['cc_num', 'amt', 'lat', 'long', 'city_pop', 'merch_lat', 'merch_long', 'age', 'trans_year', 'trans_month', 'trans_day', 'trans_hour', 'trans_minute']
data_train[numerical_cols] = scaler.fit_transform(data_train[numerical_cols])

In [36]:

categorical_cols = ['merchant', 'category', 'first', 'last', 'street', 'city', 'state', 'zip', 'F', 'M','job']

label_encoder1 = LabelEncoder()

for col in categorical_cols:
    data_test[col] = label_encoder1.fit_transform(data_test[col])

scaler = StandardScaler()
numerical_cols = ['cc_num', 'amt', 'lat', 'long', 'city_pop', 'merch_lat', 'merch_long', 'age', 'trans_year', 'trans_month', 'trans_day', 'trans_hour', 'trans_minute']
data_test[numerical_cols] = scaler.fit_transform(data_test[numerical_cols])

In [37]:
data_train

,cc_num,merchant,category,amt,first,last,street,city,state,zip,...,merch_lat,merch_long,age,trans_year,trans_month,trans_day,trans_hour,trans_minute,F,M
0,-0.316692,514,8,-0.407826,162,18,568,526,27,265,...,-0.494354,0.593864,-0.872917,-0.634065,-1.504564,-1.652258,-1.878145,-1.702944,1,0
1,-0.318757,241,4,0.230039,309,157,435,612,47,965,...,2.078699,-2.030341,-0.314293,-0.634065,-1.504564,-1.652258,-1.878145,-1.702944,1,0
2,-0.318728,390,0,0.934149,115,381,602,468,13,858,...,0.902849,-1.592323,0.629654,-0.634065,-1.504564,-1.652258,-1.878145,-1.702944,0,1
3,-0.316058,360,2,-0.158132,163,463,930,84,26,614,...,1.662886,-1.621848,0.343337,-0.634065,-1.504564,-1.652258,-1.878145,-1.645208,0,1
4,-0.318471,297,9,-0.177094,336,149,418,216,45,231,...,0.026941,0.841909,-0.760845,-0.634065,-1.504564,-1.652258,-1.878145,-1.529736,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,-0.318735,499,0,-0.341769,121,332,154,330,44,868,...,-0.331926,-1.558650,0.723074,1.577126,-0.041592,0.612974,-0.118052,-1.010110,0,1
1296671,-0.314165,2,1,-0.116339,160,463,856,813,20,203,...,0.072321,0.869934,-0.314370,1.577126,-0.041592,0.612974,-0.118052,-1.010110,0,1
1296672,-0.316072,599,1,0.221930,74,67,158,346,32,886,...,-0.962433,-1.082272,0.391740,1.577126,-0.041592,0.612974,-0.118052,-1.010110,0,1
1296673,-0.316680,509,1,0.028375,179,304,433,471,41,601,...,0.832051,-0.945074,-0.353878,1.577126,-0.041592,0.612974,-0.118052,-0.952374,0,1
1296674,2.961257,370,1,-0.412005,160,404,127,782,26,617,...,1.571229,-1.739852,-1.215818,1.577126,-0.041592,0.612974,-0.118052,-0.952374,0,1

In [38]:
data_test

,cc_num,merchant,category,amt,first,last,street,city,state,zip,...,merch_lat,merch_long,age,trans_year,trans_month,trans_day,trans_hour,trans_minute,F,M
0,-0.317252,319,10,-0.424463,151,115,341,157,39,254,...,-0.894145,0.657586,0.308028,0.0,-1.773597,0.506526,-0.118789,-0.893979,0,1
1,-0.316273,591,10,-0.252337,163,457,354,16,43,811,...,0.178126,-1.436610,-0.944428,0.0,-1.773597,0.506526,-0.118789,-0.893979,1,0
2,-0.316254,611,5,-0.179353,24,249,865,61,33,69,...,0.383257,1.167640,0.159442,0.0,-1.773597,0.506526,-0.118789,-0.893979,1,0
3,-0.316259,222,9,-0.059605,42,457,320,764,8,291,...,-1.909485,0.680717,-0.801968,0.0,-1.773597,0.506526,-0.118789,-0.836311,0,1
4,-0.316308,292,13,-0.422358,247,261,548,247,21,478,...,1.259139,0.316510,1.036821,0.0,-1.773597,0.506526,-0.118789,-0.836311,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,-0.318978,507,5,-0.163467,235,315,531,443,23,618,...,0.275527,-0.080241,0.458575,0.0,1.259458,1.623183,1.496265,1.701107,0,1
555715,-0.316286,264,7,0.270803,171,424,540,401,42,763,...,-1.742946,-0.433644,-1.484349,0.0,1.259458,1.623183,1.496265,1.701107,0,1
555716,-0.314411,496,7,0.111564,18,239,126,104,46,908,...,1.592587,-2.146912,-0.447390,0.0,1.259458,1.623183,1.496265,1.701107,1,0
555717,-0.318998,75,13,-0.391735,111,342,663,476,12,808,...,1.163252,-1.955100,0.467999,0.0,1.259458,1.623183,1.496265,1.701107,0,1
555718,-0.315817,125,0,-0.199449,280,145,778,224,35,706,...,-0.457767,-0.495519,-1.103931,0.0,1.259458,1.623183,1.496265,1.701107,0,1

# Xgboost

In [44]:
import xgboost as xgb

xgb_model = xgb.XGBClassifier(n_estimators=200, learning_rate=0.05, max_depth=7, random_state=2, n_jobs=-1)
xgb_model.fit(data_train, y_train)

y_pred_xgb = xgb_model.predict(data_test)
print("XGBoost with scale_pos_weight:")
print(classification_report(y_test, y_pred_xgb))

XGBoost with scale_pos_weight:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    553574
           1       0.89      0.75      0.81      2145

    accuracy                           1.00    555719
   macro avg       0.94      0.88      0.91    555719
weighted avg       1.00      1.00      1.00    555719

In [48]:
from sklearn.metrics import log_loss
loss_score = log_loss(y_test, y_pred_xgb)
print("Log Loss:", loss_score)

Log Loss: 0.047996025883489356

In [49]:
accuracy_score(y_pred_xgb,y_test)

0.9986683917591445

# Easy Ensemble Classifier

In [50]:
from imblearn.ensemble import EasyEnsembleClassifier

eec = EasyEnsembleClassifier(random_state=42)

eec.fit(data_train, y_train)

y_pred_eec = eec.predict(data_test)

print("EasyEnsemble:")
print(classification_report(y_test, y_pred_eec))

loss_score = log_loss(y_test, y_pred_eec)
print("Log Loss:", loss_score)


print("Accuracy socre : ",accuracy_score(y_pred_eec,y_test))

EasyEnsemble:
              precision    recall  f1-score   support

           0       1.00      0.94      0.97    553574
           1       0.06      0.92      0.11      2145

    accuracy                           0.94    555719
   macro avg       0.53      0.93      0.54    555719
weighted avg       1.00      0.94      0.97    555719

Log Loss: 2.0209569871670783
Accuracy socre :  0.943930295707003

# Balanced Bagging Classifier

In [52]:
from imblearn.ensemble import BalancedBaggingClassifier

bbc = BalancedBaggingClassifier(n_estimators=100, random_state=2, n_jobs=-1)
bbc.fit(data_train, y_train)

y_pred_bbc = bbc.predict(data_test)

print("Classification Report :",classification_report(y_test, y_pred_bbc))


loss_score = log_loss(y_test, y_pred_bbc)
print("Log Loss:", loss_score)


print("Accuracy socre : ",accuracy_score(y_pred_bbc,y_test))

Classification Report :               precision    recall  f1-score   support

           0       1.00      0.98      0.99    553574
           1       0.19      0.95      0.32      2145

    accuracy                           0.98    555719
   macro avg       0.60      0.97      0.66    555719
weighted avg       1.00      0.98      0.99    555719

Log Loss: 0.5685583282360347
Accuracy socre :  0.9842258407576491

# Balanced Random Forest Classifier

In [53]:
from imblearn.ensemble import BalancedRandomForestClassifier

brf = BalancedRandomForestClassifier(random_state=42)

brf.fit(data_train, y_train)

C:\Users\saite\AppData\Local\Programs\Python\Python311\Lib\site-packages\imblearn\ensemble\_forest.py:577: FutureWarning: The default of `sampling_strategy` will change from `'auto'` to `'all'` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `'all'` to silence this warning and adopt the future behaviour.
  warn(
C:\Users\saite\AppData\Local\Programs\Python\Python311\Lib\site-packages\imblearn\ensemble\_forest.py:589: FutureWarning: The default of `replacement` will change from `False` to `True` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `True` to silence this warning and adopt the future behaviour.
  warn(
C:\Users\saite\AppData\Local\Programs\Python\Python311\Lib\site-packages\imblearn\ensemble\_forest.py:601: FutureWarning: The default of `bootstrap` will change from `True` to `False` in version 0.13. This change will follow the implementation proposed in the original paper. Set to `False` to silence this warning and adopt the future behaviour.
  warn(

BalancedRandomForestClassifier(random_state=42)

In [54]:
y_pred_brf = brf.predict(data_test)
print("Classification Report :",classification_report(y_test, y_pred_brf))

loss_score = log_loss(y_test, y_pred_brf)
print("Log Loss:", loss_score)

print("Accuracy socre : ",accuracy_score(y_pred_brf,y_test))

Classification Report :               precision    recall  f1-score   support

           0       1.00      0.97      0.99    553574
           1       0.13      0.94      0.22      2145

    accuracy                           0.97    555719
   macro avg       0.56      0.96      0.60    555719
weighted avg       1.00      0.97      0.98    555719

Log Loss: 0.9212642589852429
Accuracy socre :  0.9744403196579566

In [60]:
import pickle
pickle.dump(label_encoder,open('label.pkl','wb'))
pickle.dump(xgb_model,open('model.pkl','wb'))
pickle.dump(scaler,open('scaler.pkl','wb'))